.App {
  text-align: center;
}

.main-Compo {
  width: 700px;
  margin: 100px auto;
}

.main-Compo>h1 {
  align-content: center;
  width: 780px;
  margin: 30px auto;

}

.cont {
  color: blueviolet;
  text-align: center;
  border: 2px solid #7d4ad9;
  border-radius: 16px;
  border-width: thick;
  padding: 12px;
}

.thead-width {
  width: 20%;
}

.hidden {
  display: none;
}

/* calc.js */
.pos-center {
  margin: 0 auto;
  margin-top: 137px;

}

.mrginn {
  text-align: center;

}

.strikethrough {
  text-decoration:line-through purple solid;
   
}

.imgg {
  background-image: url(./notepad-scissors-copy-space_23-2.jpg);
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}